extends layout

block content
	svg.Heart#heart(viewBox="0 0 32 29.6",onclick="commit()")
		path(d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z")

	#commit
		form#commit-form(action="/commit", method="POST", enctype="multipart/form-data")
			img#show-pic
			br
			input#select-pic(type="file", accept="image/*", name="upload_pic", onchange="getPic()")
			label.Button#pic-btn(for="select-pic") 请选择一张图
				
			textarea#commit-input(placeholder="说点什么", rows="1", name="upload_comment")
			br
			br
			button.Button#commit-btn( type="button", onclick="clickCommit()") 提交
	#year 2022
	#timeline
	#content-list
	#full-preview(onclick="closePreview()")
		img#full-preview-pic

	script#template(type="text/x-jquery-tmpl").
		<div class="Item" >
			<div class="ItemBlank" style="width:120px"/>
			<div class=ItemDate>${date}</div>
			<div class="ItemBlank" style="width:4px"/>
			<div class="Point"/>
			<div class="ItemBlank" style="width:40px"/>
			<div style="display:table;max-width: calc( 100% - 300px )">{{html content}}</div>
		</div>

	script(src="https://cdn.staticfile.org/jquery/2.0.0/jquery.min.js")
	script(src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js")

	script(stype="text/javascript").


		var template = $("#content-list").html();
		$("#full-preview").hide();

		function genItem(date, comments)
		{
			let contents = "";
			let len = comments.length;
			for (let i = 0; i < len; ++i)
			{
				let name = comments[i][2] || "";
				let content = "<div class='Content " +name +  "'>";
				if (comments[i][0])
				{
					content += "<img class='Content-image' onclick='preview(this)' src='" + comments[i][0] + "'/>";
				}
				if (comments[i][1] != "")
				{
					content += "<div class='Content-text' >" + comments[i][1] + "</div>";
				}
				contents += content + "</div>";
			}
			let users = [{date: date, content: contents}]
			$("#template").tmpl(users).appendTo("#content-list")
		}
		function refresh(data)
		{
			$(".Item").remove();

			for (let i in data)
			{
				let date = data[i][0];
				date = date.substring(5,date.length );
				genItem(date, data[i][1])
			}
		}

		let refresh_page = function ()
		{
			$.get('/api/getall/', function (ret) 
			{
				refresh(ret);
			}) 
		}

		refresh_page()
		setInterval(refresh_page, 30000);

		function getPic()
		{
			let file = document.getElementById('select-pic').files[0];
			let ext = file.name.substring(file.name.lastIndexOf(".")).toLowerCase();
			if ( !ext.match(/.png|.jpg|.jpeg|.bmp|.gif/))
			{
				alert("文件必须是图片");
				document.getElementById('select-pic').files[0] = null;
				return;
			}
			let reader= new FileReader();
			reader.readAsDataURL(file);
			reader.onload=function (e) {
				document.getElementById('show-pic').src=this.result;
			};

		}
		function commit()
		{
			let commit = document.getElementById('commit');
			commit.style.visibility = "visible";

			let heart = document.getElementById('heart');
			heart.style.visibility = "hidden";
		}

		function clickCommit()
		{
			$("#commit-form").submit();
			$("#commit-btn").attr("disabled", true);
		} 

		function closePreview()
		{
			$("#full-preview").hide();
		}

		function preview(elem)
		{
			$("#full-preview-pic").attr("src", elem.src);
			$("#full-preview").show();
		}